---
import type { HTMLAttributes } from "astro/types";
import { getDateEatenText } from "../lib/dateHelpers";
import getFalafel from "../lib/falafelLoader";
import truncateText from "../lib/truncateText";
import "../styles/global.css";
import "../styles/squircle.css";

function getGoogleMapsLinkAttributes(
    name: string,
    uri: string,
): HTMLAttributes<"a"> {
    return {
        href: uri,
        title: `View ${name} in Google Maps: ${uri}`,
        target: "_blank",
    };
}

const falafel = getFalafel();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <title>Wrap Map (falafel.fyi)</title>

        <link
            rel="site.standard.publication"
            href={`at://${import.meta.env.PUBLIC_ATPROTO_DID}/site.standard.document/${import.meta.env.PUBLIC_ATPROTO_PUBLICATION_RKEY}`}
        />
    </head>
    <body>
        <header>
            <a
                role="heading"
                aria-level="1"
                {...getGoogleMapsLinkAttributes(
                    falafel.title,
                    falafel.googleMapsUri,
                )}
            >
                falafel wraps ({falafel.length} of them)
            </a>
            <p>
                {falafel.description}
            </p>
        </header>
        <main>
            <ul>
                {
                    falafel.entryArr.map((entry) => {
                        const truncatedReview = truncateText(entry.review, 55);

                        return (
                            <li>
                                <div class="header">
                                    <div>
                                        <h2>{entry.name}</h2>
                                        {entry.address && (
                                            <i>
                                                <a
                                                    {...getGoogleMapsLinkAttributes(
                                                        entry.name,
                                                        entry.googleMapsUri ??
                                                            "",
                                                    )}
                                                >
                                                    {truncateText(
                                                        entry.address,
                                                        50,
                                                    )}
                                                </a>
                                            </i>
                                        )}
                                    </div>
                                    <i class="date">
                                        <span>first eaten</span>
                                        <br />
                                        <b>
                                            {getDateEatenText(
                                                entry,
                                            ).toLowerCase()}
                                        </b>
                                    </i>
                                </div>
                                {truncatedReview.length ===
                                entry.review.length ? (
                                    entry.review
                                        .split("\n")
                                        .filter(Boolean)
                                        .map((p) => <p>{p}</p>)
                                ) : (
                                    <details>
                                        <summary title="expand review...">
                                            {truncatedReview}
                                        </summary>
                                        {entry.review
                                            .split("\n")
                                            .filter(Boolean)
                                            .map((p) => (
                                                <p>{p}</p>
                                            ))}
                                    </details>
                                )}
                            </li>
                        );
                    })
                }
            </ul>
        </main>
        <!-- <figure class="squircle">
            <img src="close.gif" draggable="false" alt="falafel.gif" />
        </figure> -->
        <div class="ball"></div>
    </body>
</html>

<style>
    ul {
        width: 55ch;
        max-width: 100%;
    }

    details:open summary {
        display: none;
    }

    details > summary,
    details p:first-of-type {
        margin-top: unset;
    }

    details summary::marker {
        color: #222222;
        transition: color 0.2s;
    }

    details summary:hover::marker {
        color: #6fbc57;
    }

    details summary {
        cursor: pointer;
    }

    details p {
        line-height: 1.4;
    }

    @view-transition {
        navigation: auto;
    }

    header {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    a[role="heading"][aria-level="1"] {
        margin: 1em 0;
        font-size: 2em;
        font-weight: bold;
        color: white;
        pointer-events: auto;
        background-color: #ff4b4b;
        background-color: #6fbc57;
        padding: 0.1em 0.3em 0.2em 0.3em;
        text-align: center;
        display: inline-block;

        text-decoration: unset;
        cursor: default;

        transform: rotate(-2deg) translateX(0px);
        font-style: italic;
        transition: transform 0.2s steps(3);

        &:hover,
        &:focus-visible {
            transform: rotate(0deg) translateX(4px);
            animation: flip-up 0.2s linear forwards;
        }
    }

    @keyframes flip-up {
        0% {
            cursor: sw-resize;
        }

        33.33% {
            cursor: nw-resize;
        }

        66.67% {
            cursor: n-resize;
        }

        100% {
            cursor: ne-resize;
        }
    }

    main {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    ul {
        list-style: none;
        padding: unset;
    }

    li {
        max-width: 90ch;
        margin-top: 50px;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: end;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 2px dotted black;
    }

    .date {
        text-align: right;
    }

    h2 {
        margin: unset;
    }

    figure {
        position: fixed;
        user-select: none;
        pointer-events: none;
        top: 50%;
        left: 50%;
        aspect-ratio: 1;
        z-index: 100;
        margin: unset;

        width: 256px;
        max-width: 90%;

        img {
            width: 100%;
            display: block;
        }

        transition: opacity 0.25s steps(3);
        opacity: 0.8;

        animation: float 4s ease-in-out infinite alternate;
    }

    a:hover {
        animation: cursor-pointer-blink 1s infinite;
    }

    @keyframes cursor-default-blink {
        0% {
            cursor: none;
        }

        33.33% {
            cursor: none;
        }

        100% {
            cursor: default;
        }
    }

    @keyframes float {
        0% {
            transform: translate(-50%, calc(-50% + 4px));
        }

        50% {
            transform: translate(-50%, calc(-50% - 4px));
        }

        100% {
            transform: translate(-50%, calc(-50% + 4px));
        }
    }

    @keyframes cursor-pointer-blink {
        0% {
            cursor: pointer;
        }

        33.33% {
            cursor: pointer;
        }

        100% {
            cursor: none;
        }
    }

    /* 8 frames at 12 fps means this should take 0.6666s */
    @keyframes cursor-spin {
        0% {
            cursor: ne-resize;
        }

        12.5% {
            cursor: e-resize;
        }

        25% {
            cursor: se-resize;
        }

        37.5% {
            cursor: s-resize;
        }

        50% {
            cursor: sw-resize;
        }

        62.5% {
            cursor: w-resize;
        }

        75% {
            cursor: nw-resize;
        }

        87.5% {
            cursor: n-resize;
        }

        100% {
            cursor: ne-resize;
        }
    }

    .ball {
        --size: 128px;
        --duration-y: 10s;
        --duration-x: calc(var(--duration-y) * 100dvw / 100dvh);

        pointer-events: none;
        user-select: none;
        width: var(--size);
        height: var(--size);
        background: url("/close.webp");
        filter: blur(1px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: fixed;

        animation:
            x var(--duration-x) linear infinite alternate,
            y var(--duration-y) linear infinite alternate,
            fade-in 0.5s ease-in both;
    }

    @keyframes x {
        from {
            left: 0;
        }
        to {
            left: calc(100% - var(--size));
        }
    }

    @keyframes y {
        from {
            top: 0;
        }
        to {
            top: calc(100% - var(--size));
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.8;
        }
    }
</style>
