---
import type { HTMLAttributes } from "astro/types";
import { getDateEatenText } from "../lib/dateHelpers";
import getFalafel from "../lib/falafelLoader";
import truncateText from "../lib/truncateText";
import "../styles/global.css";
import "../styles/squircle.css";

function getGoogleMapsLinkAttributes(
    name: string,
    uri: string,
): HTMLAttributes<"a"> {
    return {
        href: uri,
        title: `View ${name} in Google Maps: ${uri}`,
        target: "_blank",
    };
}

const falafel = getFalafel();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <title>Wrap Map (falafel.fyi)</title>

        <link
            rel="site.standard.publication"
            href={`at://${import.meta.env.PUBLIC_ATPROTO_DID}/site.standard.document/${import.meta.env.PUBLIC_ATPROTO_PUBLICATION_RKEY}`}
        />
    </head>
    <body>
        <header>
            <h1>
                <img src="falafel.gif" class="squircle" alt="falafel.gif" draggable="false" />
                {" "}falafel wraps ({falafel.length} of them)
            </h1>
            <p>
                {falafel.description}
                {" "}See the map{" "}
                <a
                    {...getGoogleMapsLinkAttributes(
                        falafel.title,
                        falafel.googleMapsUri,
                    )}
                >
                    here
                </a>
                .
            </p>
        </header>
        <main>
            <ul>
                {
                    falafel.entryArr.map((entry) => {
                        const truncatedReview = truncateText(entry.review, 80);
                        const wordsLeftOver = (truncatedReview === entry.review ? "" : entry.review.substring(truncatedReview.length - 3)).split(/[— \n\-]/).filter(Boolean).length;
                        return <li>
                            <div class="header">
                                <div>
                                    <h2>{entry.name}</h2>
                                    {entry.address && (
                                        <i>
                                            <a
                                                {...getGoogleMapsLinkAttributes(
                                                    entry.name,
                                                    entry.googleMapsUri ?? "",
                                                )}
                                            >
                                                {truncateText(
                                                    entry.address,
                                                    50,
                                                )}
                                            </a>
                                        </i>
                                    )}
                                </div>
                                <i class="date">
                                    <span>first eaten</span>
                                    <br />
                                    <b>{getDateEatenText(entry).toLowerCase()}</b>
                                </i>
                            </div>
                            <p>{truncatedReview}</p>
                            <p style="text-align: right;">
                                <a href={`/wraps/${entry.cacheKey}`}>
                                    {
                                        wordsLeftOver
                                            ? <>see {wordsLeftOver} more word{wordsLeftOver > 1 ? "s" : ""} on the subject</>
                                            : <>see more</>
                                    }
                                </a>
                            </p>
                        </li>;
                    })
                }
            </ul>
        </main>
        <div style="position: fixed; bottom: 1rem; right: 1rem; width: 200px; aspect-ratio: 1;">
            <img src="falafel.gif" class="squircle" style="width: 100%; display: block;" alt="falafel.gif">
        </div>
    </body>
</html>

<style>
    @view-transition {
        navigation: auto;
    }

    h1 img {
        display: inline;
        --size: 1.5;
        width: calc(1em * var(--size));
        margin-bottom: calc((var(--size) - 0.8) * -0.5em);
    }

    ul {
        list-style: none;
        padding: unset;
    }

    li {
        max-width: 90ch;
        margin-top: 50px;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: end;
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 2px dotted black;
    }

    .date {
        text-align: right;
    }

    h2 {
        margin: unset;
    }
</style>
