---
import type { HTMLAttributes } from "astro/types";
import falafelList from "../data/falafel_list.json";
import type { FalafelPlace } from "../lib/falafelFetcher";
import sortFalafel from "../lib/sortFalafel";
import { validateFalafel } from "../lib/validateFalafel";

const falafel = sortFalafel(Object.values(falafelList.entries));
const errors = validateFalafel(falafel);
if (errors.length) {
	console.error(JSON.stringify(errors.map(e => ({ name: e.entry.name, errors: e.errors })), null, 2));
}

function getDisplayDate(p: FalafelPlace) {
	if (p.dateEatenText) {
		return p.dateEatenText;
	}

	return new Intl.DateTimeFormat("en-US", {
		year: "numeric",
		day: "2-digit",
		month: "short",
	}).format(new Date(p.dateEaten ? p.dateEaten : p.dateSaved));
}

function getGoogleMapsLinkAttributes(
	name: string,
	uri: string,
): HTMLAttributes<"a"> {
	return {
		href: uri,
		title: `View ${name} in Google Maps: ${uri}`,
		target: "_blank",
	};
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wrap Map</title>
	</head>
	<body>
		<h1>
			<a
				{...getGoogleMapsLinkAttributes(
					falafelList.title,
					falafelList.googleMapsUri,
				)}
			>
				falafel wraps
			</a>
			{" "}({falafelList.length} of them)
		</h1>
		<p>{falafelList.description}</p>
		<ul>
			{
				falafel.map((f) => (
					<li>
						<strong>
							<a
								{...getGoogleMapsLinkAttributes(
									f.name,
									f.googleMapsUri,
								)}
								href={f.googleMapsUri}
								title={`View ${f.name} in Google Maps: ${f.googleMapsUri}`}
								target="_blank"
							>
								{f.name}
							</a>
						</strong>
						&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
						<i>{f.address}</i>
						&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
						<i>{getDisplayDate(f)}</i>
						{f.review.split("\n\n").map((p) => (
							<p>{p}</p>
						))}
					</li>
				))
			}
		</ul>
	</body>
</html>
