---
import type { HTMLAttributes } from "astro/types";
import { getDateEatenText } from "../lib/dateHelpers";
import getFalafel from "../lib/falafelLoader";
import truncateText from "../lib/truncateText";

function getGoogleMapsLinkAttributes(
	name: string,
	uri: string,
): HTMLAttributes<"a"> {
	return {
		href: uri,
		title: `View ${name} in Google Maps: ${uri}`,
		target: "_blank",
	};
}

const falafel = getFalafel();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wrap Map</title>
		<link
			rel="site.standard.publication"
			href={`at://${import.meta.env.PUBLIC_ATPROTO_DID}/site.standard.document/${import.meta.env.PUBLIC_ATPROTO_PUBLICATION_RKEY}`}
		/>
	</head>
	<body>
		<h1>
			<a
				{...getGoogleMapsLinkAttributes(
					falafel.title,
					falafel.googleMapsUri,
				)}
			>
				falafel wraps
			</a>
			{" "}({falafel.length} of them)
		</h1>
		<p>{falafel.description}</p>
		<ul>
			{
				falafel.entryArr.map((entry) => (
					<li>
						<h2>
							<a href={`/wraps/${entry.cacheKey}`}>
								{entry.name}
							</a>
						</h2>
						{entry.address && (
							<a
								{...getGoogleMapsLinkAttributes(
									entry.name,
									entry.googleMapsUri ?? "",
								)}
							>
								<i>{truncateText(entry.address, 70)}</i>
							</a>
						)}
						&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
						<i>{getDateEatenText(entry)}</i>
						<p>{truncateText(entry.review, 100)}</p>
					</li>
				))
			}
		</ul>
	</body>
</html>

<style>
	@view-transition {
		navigation: auto;
	}
</style>
