---
import falafelList from "../data/falafel_list.json";
import type { FalafelPlace } from "../falafelFetcher";

const falafel = Object.values(falafelList.entries).sort(
	(a, b) => getSortDate(b) - getSortDate(a),
) as FalafelPlace[];

function getSortDate(entry: FalafelPlace) {
	const eatDate = new Date(entry.dateEaten ?? "").getTime();
	if (!isNaN(eatDate)) {
		return eatDate;
	}
	return new Date(entry.dateSaved).getTime();
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wrap Map</title>
	</head>
	<body>
		<h1>
			<a
				href={falafelList.googleMapsUri}
				title={`View ${falafelList.title} in Google Maps: ${falafelList.googleMapsUri}`}
				target="_blank">falafel wraps</a
			> ({falafelList.length} of them)
		</h1>
		<p>{falafelList.description}</p>
		<ul>
			{
				falafel.map((f) => (
					<li>
						<strong>
							<a
								href={f.googleMapsUri}
								title={`View ${f.name} in Google Maps: ${f.googleMapsUri}`}
								target="_blank"
							>
								{f.name}
							</a>
						</strong>
						&nbsp; <i>{f.address}</i>
						{f.review.split("\n\n").map((p) => (
							<p>{p}</p>
						))}
					</li>
				))
			}
		</ul>
	</body>
</html>
